<!doctype html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <title>Xác Nhận Đăng Ký Thành Công</title>
    <link rel="stylesheet" href="register.css" />
  </head>

  <body>
    <h1>Chào mừng bạn đến với [Tên website/ứng dụng]!</h1>
    <p>Kính gửi [Tên người dùng],</p>
    <p>
      Chúc mừng bạn đã đăng ký thành công tài khoản trên [Tên website/ứng dụng]! Chúng tôi rất vui mừng chào đón bạn đến
      với cộng đồng của chúng tôi. Hy vọng bạn sẽ có những trải nghiệm tuyệt vời khi sử dụng dịch vụ của chúng tôi.
    </p>
    <p>Để bắt đầu sử dụng tài khoản của bạn, vui lòng truy cập vào</p>
    <ul>
      <li>Tên đăng nhập: [Tên đăng nhập]</li>
      <li>Mật khẩu: [Mật khẩu]</li>
    </ul>
    <p>Bạn cũng có thể:</p>
    <ul>
      <li>
        <a href="{{link}}">Click here!</a>
      </li>
      <li>
        <a
          href="https://thuvienphapluat.vn/chinh-sach-phap-luat-moi/vn/thoi-su-phap-luat/tu-van-phap-luat/6319/hoan-thien-va-thuc-thi-phap-luat-de-phat-trien-xuat-ban-dien-tu-o-nuoc-ta"
          >Cập nhật thông tin cá nhân của bạn</a
        >
      </li>
      <li><a href="https://www.youtube.com/channel/UCyXZGq1Q1HxSwi8Oadsqd3Q">Xem thêm hướng dẫn sử dụng</a></li>
    </ul>
    <p>
      Đội ngũ [Tên website/ứng dụng] luôn sẵn sàng hỗ trợ bạn. Nếu bạn có bất kỳ câu hỏi nào, vui lòng liên hệ với chúng
      tôi qua:
    </p>
    <ul>
      <li>Email: [Địa chỉ email]</li>
      <li>Hotline: [Số điện thoại]</li>
    </ul>
    <p>Cảm ơn bạn đã đăng ký sử dụng dịch vụ của chúng tôi!</p>
    <p>Trân trọng,</p>
    <p>Đội ngũ [Tên website/ứng dụng]</p>
  </body>
</html>
